<div class="leading-loose">
  <form
    class="max-w-xl m-4 p-10 bg-white rounded shadow-xl"
    [formGroup]="editUserForm"
  >
    <p class="text-gray-800 font-medium">Informacion de usuario:</p>
    <div class="mt-2">
      <label class="block text-sm">Nombre:</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="name"
        type="text"
        placeholder="Your Name"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Apellido:</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="lastname"
        type="text"
        placeholder="Your Lastname"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Edad:</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="age"
        type="number"
        placeholder="Your Age"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Email</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="email"
        type="email"
        placeholder="Your Email"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Contraseña:</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        formControlName="password"
        type="password"
        placeholder="Your Password"
      />
    </div>
    <div class="mt-2">
      <label class="block text-sm">Foto de perfil</label>
      <input
        class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded"
        type="file"
        formControlName="profile_pic"
        #userpic
        (change)="sendFile($event)"
        placeholder="File"
      />
      <img src="{{ seeFile }}" />
    </div>
    <div class="mt-4">
      <button
        class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded"
        type="submit"
        (click)="_update()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
