<div class="text-gray-900 bg-white-200">
  <div class="p-4 flex justify-between">
    <h1 class="text-3xl">
      Listar Roles
    </h1>
    <div class="m-3">
      <button
        class="bg-white text-gray-800 font-bold rounded border-b-2 border-orange-500 hover:border-orange-600 hover:bg-orange-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center"
        routerLink="/home"
      >
        <i class="fas fa-home"></i>
      </button>
    </div>
    <div class="m-3">
      <button
        class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-400 hover:text-white shadow-md py-2 px-6 inline-flex items-center"
        (click)="goCreateRole()"
      >
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="px-3 py-4 flex justify-center">
    <table class="w-full text-md bg-blue-200 shadow-md rounded mb-4">
      <tbody>
        <tr class="border-b">
          <th class="text-left p-3 px-5">Nombre:</th>
          <th class="text-left p-3 px-5">Descripcion:</th>
          <th></th>
        </tr>
        <tr
          class="border-b hover:bg-orange-100 bg-gray-100"
          *ngFor="let item of rolesData"
        >
          <td class="p-3 px-5">
            <h1>{{ item.name }}</h1>
          </td>
          <td class="p-3 px-5">
            <h1>{{ item.description }}</h1>
          </td>
          <td class="p-3 px-5 flex justify-end">
            <button
              (click)="edit(item)"
              class="mr-3 text-sm bg-green-500 hover:bg-green-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
            >
              Editar</button
            ><button
              (click)="delete(item._id)"
              class="text-sm bg-red-500 hover:bg-red-700 text-white py-1 px-2 rounded focus:outline-none focus:shadow-outline"
            >
              Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
